/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

h2 {
		color: #000;
        
        font: 50px 'BazarMedium';
        letter-spacing: 10px
}

body{
	background-color: #DBDBDB;
			  color: #000;
		  font: 16px/1.8 sans-serif;
}

header{
	background: red url("../img/topbg.png");
	background-repeat:repeat-x;
	color: white;
	height: 55px;
	width: 100%;
}


#wrapper960
{
   margin: auto;
   width: 960px;
}


		article {
			background-color: #fff;
			border: 1px solid black;
			box-shadow: 5px 5px 5px #888;
			display: block;
			margin-right: 200px;
			margin-top: 10px;
			padding: 20px;
			padding-top: 0px;
			width: 560px;
		}

aside {
	background-color: #fff;

	float: right;			
margin-top: 0px;
			padding: 10px;
			padding-top: 0px;
	width: 320px;
}

aside:nth-child(2) {
	
}

		.container {
			width: 960px;
			margin:0 auto;
		}


#aboutme {
		background-color: #fff;
			border: 1px solid black;
			box-shadow: 5px 5px 5px #888;
}

#aboutme {
		background-color: #fff;
			border: 1px solid black;
			box-shadow: 5px 5px 5px #888;
}

#recentproject {
		background-color: #fff;
			border: 1px solid black;
			box-shadow: 5px 5px 5px #888;
			margin-top: 10px;
}

