/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

h2 {
		color: #fff;
        
        font: 50px 'BazarMedium';
        letter-spacing: 10px
}

body{
	background-color: #1b1b1b;
			  color: #fff;
		  font: 16px/1.8 sans-serif;
}

header{
	background: red url("../img/topbg.png");
	background-repeat:repeat-x;
	color: white;
	height: 55px;
	width: 100%;
}


#wrapper960
{
   margin: auto;
   width: 960px;
}

		aside {
			float:right;
			width: 340px;
		}

		article {
			margin-right: 200px;
			width: 600px;
		}
		.container {
			width: 960px;
			margin:0 auto;
		}